<!DOCTYPE html>
<html>
<head>
	<title>tick-tack-toe</title>
	<style type="text/css">
		table,td,tr{
			border:2px;
		}
		.btn{
			width:100% !important;
			height: 98px!important;
		}
	</style>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
   <script src="https://cdn.socket.io/socket.io-1.3.5.js"></script>
  <script src="js/cntrl.js"></script>
</head>


<body ng-app="myapp" ng-controller="myCtrl">
<div class="container">
	<div class="row" ng-show="oo">
		<form>
		<label>Your name</label>
		<input type="text" ng-model="name">
		<button ng-click="get()"> go</button>
		</form>
	</div><div id="bhag"></div>
	<div class="row" ng-show="ss">
		<div class="container" id="3rdparty">
		<div id="ID"></div>
			<table>	
				<tr>
					<td><button type="button" class="btn btn-default" id="x00" ng-click="tick('00')"></button></td>				
					<td><button type="button" class="btn btn-default" id="x01" ng-click="tick('01')"></button></td>
					<td><button type="button" class="btn btn-default" id="x02" ng-click="tick('02')"></button></td>
				</tr>
				<tr>
					<td><button type="button" class="btn btn-default" id="x10" ng-click="tick('10')"></button></td>
					<td><button type="button" class="btn btn-default" id="x11" ng-click="tick('11')"></button></td>
					<td><button type="button" class="btn btn-default" id="x12" ng-click="tick('12')"></button></td>
				</tr>
				<tr> 
					<td><button type="button" class="btn btn-default" id="x20" ng-click="tick('20')"></button></td>
					<td><button type="button" class="btn btn-default" id="x21" ng-click="tick('21')"></button></td>
					<td><button type="button" class="btn btn-default" id="x22" ng-click="tick('22')"></button></td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>